body {margin: 0px;
    background-color: #fff3df;
    text-align: center;
    font-family: 'Signika', sans-serif;}

.imgfundo {position:absolute;
        background: url(fundo.jpeg);
        opacity: 0.3;
        background-size: cover;}

h2 {font-size: 35px;position: relative;}

.logo {position: relative;padding-top: 30px;}

fieldset {background-color:#93cc91;
    border-radius: 25px;
    font-size: 15px;
    text-align: justify;
    position: relative;
    border-style: ridge;
    border-width: 3px;
    border-color: slateblue;}

.bt {background-color: #95ec72;
    border-width:2px #000502;
    border-radius:20px;
    padding-left: 10px;
    margin-left: 175px;
    width:100px; height:50px;
    font-family: 'Signika', sans-serif;
    font-size:15px;
    position: absolute;}
 
.bt:hover {box-shadow:5px 5px 5px #badfac; position: absolute;}    

.moeda {position: relative;
        margin-left: 175px;} 

